nav {
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 10px 5px;
}

nav ul li:hover {
  background-color: #ddd;
}

/* nav ul h2:hover {
  background-color: #ddd;
} */
nav ul div:hover {
  background-color: #ddd;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul div {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 5px;
  text-decoration: none;
}
nav ul div a {
  text-decoration: none;
  color: #333;
}

button {
  float: right;
}
